<h2>Dashboard Admin - {{ session['user'] }}</h2>
<a href="/logout">Logout</a>
<table border="1">
  <tr><th>Nama</th><th>Tugas</th><th>Capaian</th><th>Bukti</th><th>Status</th><th>Aksi</th></tr>
  {% for d in data %}
  <tr>
    <td>{{ d[1] }}</td><td>{{ d[2] }}</td><td>{{ d[3] }}</td>
    <td><a href="/download/{{ d[4] }}">Download</a></td>
    <td>{{ d[5] }}</td>
    <td>
      <a href="/approve/{{ d[0] }}/Disetujui">Setujui</a> |
      <a href="/approve/{{ d[0] }}/Ditolak">Tolak</a>
    </td>
  </tr>
  {% endfor %}
</table>
